{% extends "base.html" %}

{% block title %}EspaceShopping | Form{% endblock %}

{% block header %}

    {% include "default_nav.html" %}

{% endblock header %}

{% block main %}

    <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
        <form method="POST" class="p-5 border border-success rounded shadow-lg">
            <h1 class="h3 mb-3 fw-normal">Réinitialiser le mot de passe</h1>
            {% csrf_token %}
            <div class="form-floating">
                <input class="form-control mb-1" type="email" name="email" autocomplete="email" maxlength="254" required="" id="floatingInput">
                <div class="form-text">Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour changer de mot de passe.</div>
                <label for="floatingInput">Email</label>
            </div>
            <input class="btn btn-success w-100 py-2 mt-2" type="submit" value="Envoyez-moi les instructions !">
        </form>
    </div>

{% endblock %}