{% extends "base.html" %}

{% block title %}EspaceShopping | Réinitialisation du mot de passe{% endblock %}

{% block header %}

    {% include "default_nav.html" %}

{% endblock header %}

{% block main %}

    <div class="container my-5">
        <div class="p-5 text-center bg-light border border-success rounded-5">
            <h1 class="text-success">Mot de passe modifié avec succès</h1>
            <p class="text-muted col-lg-6 mx-auto mb-4">
                Votre mot de passe a été modifié. Vous pouvez revenir à votre profil.
            </p>
            <a href="{% url 'accounts-user-settings' user.username %}" class="btn btn-success px-5 mb-5" type="button">
                Retour au profil
            </a>
        </div>
    </div>

{% endblock %}