{% extends "base.html" %}

{% block title %}EspaceShopping | Réinitialisation du mot de passe{% endblock %}

{% block header %}

    {% include "default_nav.html" %}

{% endblock header %}

{% block main %}

    {% if validlink %}
        <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
            <form method="post" class="p-5 border border-success rounded shadow-lg">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Saisissez un nouveau mot de passe</h1>
                <div class="form-floating ">
                    <input type="password" name="new_password1" autocomplete="new-password" required="" class="form-control mb-1" id="floatingPassword">
                        <label for="floatingPassword">Nouveau mot de passe</label>
                </div>
                <div class="form-floating ">
                    <input type="password" name="new_password2" autocomplete="new-password" required="" class="form-control mb-1" id="floatingPassword">
                        <label for="floatingPassword">Confirmation du mot de passe</label>
                </div>
                <button class="btn btn-success w-100 py-2 mt-2" type="submit">Modifier mon mot de passe</button>
            </form>
            <div class="form-text text-center text-danger mt-1 fw-semibold">
                {% for field in form %}
                    {{ field.errors.as_text }} <br>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <div class="container my-5">
            <div class="p-5 text-center bg-light border border-success rounded-5">
              <h1 class="text-danger">Échec lors de la mise à jour du mot de passe</h1>
              <p class="text-muted col-lg-6 mx-auto mb-4">
                Le lien de mise à jour du mot de passe n’était pas valide, 
                probablement en raison de sa précédente utilisation. 
                Veuillez renouveler votre demande de mise à jour de mot de passe.
              </p>
              <a href="{% url 'catalog-index' %}" class="btn btn-success px-5 mb-5" type="button">
                Retour à l'accueil
              </a>
            </div>
        </div>
    {% endif %}

{% endblock %}