{% extends "base.html" %}

{% block title %}EspaceShopping | Réinitialisation du mot de passe{% endblock %}

{% block header %}

    {% include "default_nav.html" %}

{% endblock header %}

{% block main %}

  <div class="container my-5">
      <div class="p-5 text-center bg-light border border-success rounded-5">
        <h1>E-mail de réinitialisation envoyé</h1>
        <p class="text-muted col-lg-6 mx-auto mb-4">
          Nous vous avons envoyé par courriel les instructions pour changer de mot de passe.
          Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.
        </p>
        <a href="{% url 'catalog-index' %}" class="btn btn-success px-5 mb-5" type="button">
          Retour à l'accueil
        </a>
      </div>
  </div>

{% endblock %}