<nav class="navbar navbar-expand-sm navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{% url 'catalog-index' %}"> <i class="bi bi-shop" style="font-size: 24px;"></i>
                 EspaceShopping
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto">
                {% if user.cart %}
                <li class="nav-item mr-3" style="width: 42px;">
                    <a href="{% url 'catalog-cart' %}" class="nav-link nav-icon notif-link pb-0">
                        <i class="bi bi-cart" style="font-size: 24px;"></i>
                        <span class="badge text-bg-danger">{{ user.cart.total_cart_count }}</span>
                    </a>
                </li>
                {% else %}
                    <li class="nav-item mr-3" style="width: 42px;">
                        <a disabled class="nav-link nav-icon notif-link pb-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Votre panier est vide">
                            <i class="bi bi-cart" style="font-size: 24px;"></i>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img class="rounded-circle"
                            src="https://i.pinimg.com/474x/3e/79/ed/3e79edd8850e4f1d73052f548f2f399d.jpg"
                            width="32" height="32"> {{ user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="dropdown-item">
                                <button class="btn" href="{% url 'accounts-settings' %}">     
                                    <i class="bi bi-gear inline-block align-text-top me-1"></i>Paramètres
                                </button>
                            </div>
                        </li>
                        <li>
                            <form class="dropdown-item" action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button class="btn text-danger" type="submit">     
                                    <i class="bi bi-power inline-block align-text-top me-1"></i>Déconnexion
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>