{% extends "base.html" %}
{% load static %}

{% block title %}EspaceShopping | Panier {% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/product_detail.css' %}" />{% endblock %}

{% block header %}

    {% if user.is_authenticated %}
    {% comment %} <a href="{% url 'password_change' %}">Changer de mot de passe</a></p> {% endcomment %}
    {% include "logged_nav.html" %}

    {% else %}
        {% include "not_logged_nav.html" %}
    {% endif %}

{% endblock %}

{% block main %}

    {% for order in orders %}

    <h2>{{order.product.name}}<h2>
    <img src="{{ order.product.thumbnail.url }}" style="max-width: 250px;">
    <p>{{ order.quantity }} dans le panier</p>

    {% endfor %}

    <a href="{% url "catalog-delete-cart" %}">Supprimer le panier</a>

{% endblock %}

{% block footer %}

    {% include "footer.html" %}

{% endblock %}

{% block js %}<script src="{% static 'js/copyright.js' %}"></script>{% endblock %}