{% extends "base.html" %}

{% block title %}AutoLocation | Accueil{% endblock %}

{% block main %}

    {% if user.is_authenticated %}

        Hi {{ user.username }} !

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Déconnexion</button>
        </form>

        {% else %}

        <p>Vous n'êtes pas connecté</p>
        <a href="{% url "login" %}">Connexion</a>
        <a href="{% url "accounts-signup" %}">Inscription</a>


    {% endif %}

{% endblock %}