{% extends "base.html" %}

{% block title %}EspaceShopping | Accueil{% endblock %}

{% block header %}

    {% if user.is_authenticated %}
    {% comment %} <a href="{% url 'password_change' %}">Changer de mot de passe</a></p> {% endcomment %}
    {% include "logged_nav.html" %}

    {% else %}
        {% include "not_logged_nav.html" %}
    {% endif %}

    {% include "catalog/banner.html" %}

{% endblock %}

{% block main %}

        <div class="album py-5 bg-light">
            <div class="container">
              <div class="row">
                {% for product in products %}
                <div class="col-md-4">
                  <div class="card mb-4">
                    <img
                      class="card-img-top"
                      style="height: 225px; width: 100%; display: block"
                      src="{{ product.thumbnail.url }}"
                      data-holder-rendered="true"
                    />
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="mb-0">
                        Prix : {{ product.price }}
                      </p>
                      <p>
                        Stock : {{ product.stock }}
                      </p>
                      <a href="{{ product.get_absolute_url }}" class="btn btn-primary"
                        >Voir le produit</a
                      >
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

{% endblock %}