{% extends "base.html" %}
{% load static %}

{% block title %}EspaceShopping | {{ products.name }} {% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/product_detail.css' %}" />{% endblock %}

{% block header %}

    {% if user.is_authenticated %}
    {% comment %} <a href="{% url 'password_change' %}">Changer de mot de passe</a></p> {% endcomment %}
    {% include "logged_nav.html" %}

    {% else %}
        {% include "not_logged_nav.html" %}
    {% endif %}

{% endblock %}

{% block main %}

    <section class="py-2">
        <div class="container px-4 px-lg-1 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6 d-flex justify-content-center">
                    <img class="card-img-top mb-5 mb-md-0" src="{{ products.thumbnail.url }}" alt="..." />
                </div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ products.name }}</h1>
                    <p class="lead">{{ products.description }}</p>
                    <div class="fs-5 mb-3">
                        <span>💲Tarif : {{ products.price }}€</span> <span>| Stock : {{ products.stock }}</span>
                    </div>
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary bi bi-dash me-1"></button>
                        <input class="form-control text-center me-1" id="inputQuantity" type="num" value="1"
                            style="max-width: 3rem" />
                        <button type="button" class="btn btn-primary bi bi-plus-lg me-3"></button>
                        <a href="{% url "catalog-add-to-cart" products.slug %}">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi bi-cart-fill me-1"></i>
                            Ajouter au panier
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}

    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <i class="bi bi-shop"></i>
            </a>
            <span id="copyright" class="text-muted"></span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-muted" href="https://github.com/Emmelf/EspaceShopping" target="_blank"><i class="bi bi-github"></i></a>
            </li>
        </ul>
    </div>

{% endblock %}

{% block js %}<script src="{% static 'js/copyright.js' %}"></script>{% endblock %}